Source: zokete
Section: net
Priority: optional
Maintainer: Jorge Matricali <jorgematricali@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/matricali/zokete
Vcs-Git: git://github.com/matricali/zokete.git
Vcs-Browser: https://github.com/matricali/zokete

Package: zokete
Architecture: i386 amd64
Depends: lsb-base, ${shlibs:Depends}, ${misc:Depends}
Description: SOCKS5 server
 Zokete is a lightweight and efficient SOCKS5 server.
